
body {
  background-color: rgb(1, 24, 1);
}

#board {
  width: 800px;
  height: 800px;
  border: 1px solid white;
  background-color: rgb(196, 187, 157);
  position: relative;
}

#walker {
  background-color: green;
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
