#board {
    background: black;
    width: 1800px;
    height: 750px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgb(15, 255, 35);
    width: 100px;
    height: 100px;
    border-radius: 80px;
    position: absolute;
}

body {
    background-color: black;
}