#board {
    background: black;
    width: 1800px;
    height: 750px;
    left: 0px;
    top: 0px;
}


.circle {
    background: rgba(137, 255, 137, 0.562);
    width: 70px;
    height: 70px;
    border-radius: 60px;
    position: absolute;
}

body {
    background-color: black;
}