body {
    background-color: rgb(58, 177, 224);
    object-fit: fill;
    scale: 100%;
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 0 0 10px #ffffff, 0 0 10px #ffffff;
   }
h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
.info {
    background: beige;
    border-radius: 10px;
    border-color: black;
    max-width: fit-content;
    padding: 20px;
    position: relative;
    margin-top: 20px;
    padding-top: 10px;
    font-family: Arial, sans-serif;
}
h3 {
    text-align: center;
}
#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.letter-box {
    border: 2px solid lightgray;
    border-radius: 3px;
    margin: 2px;
    font-size: 2.5rem;
    font-weight: 700;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    background-color: azure;
}
.filled-box {
    border: 2px solid black;
    background-color: azure;
}
.letter-row {
    display: flex;
}
#keyboard-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
#keyboard-cont div {
    display: block;
    margin: 2px;
    margin-left: 5px;
    overflow: visible;
  }
  
.second-row {
    margin: 0.5rem 0;
  }
  
.keyboard-button {
    font-size: 100%;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;

  }