
body {
  background-color: rgb(0, 0, 0);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(66, 66, 66);
}

#score, #highScore {
  color: white;
  font-family:'Times New Roman', Times, serif;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(0, 148, 62);
  z-index: 2;
}

#snake-head {
  background-color: yellow;
}

.apple {
  background-color: rgb(247, 0, 255);
  z-index: 1;
  border-radius: 20px;
}